body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }


.container {

}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
}

.prev {
    position: absolute;
    top: 80%;
    left: 28%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    width: auto;
    height: 55px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.next {
    position: absolute;
    top: 80%;
    left: 70%;
    align-items: center;
    text-align: center;
    border: 0;
    border-radius: 50%;
    width: auto;
    height: 55px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.prev:enabled:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.next:enabled:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.prev:active {
    border: 0;
}

.next:active {
    border: 0;
    
}
.footer {
    width: 100%;
    align-items: center;
    text-align: center;
    bottom: 0;
    position: fixed;
}


.nav-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    align-content: center;
    -webkit-transition: -webkit-transform 1150ms;
    transition: -webkit-transform 1150ms, transform 1150ms;
    
    justify-content: center;
      
}
.nav-item {
    display: flex;
    justify-content: flex-start;
}


.nav-list {
    height: 50%;
    display: block;
    background: rgba(255, 255, 255, 0);
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 0;
}

.item-content {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 90%;
    
    justify-content: center;
    border-radius: 15px;
    border: solid 2px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
}

.title a {
    color: #000;
    text-decoration: none;
   
}
.title {
    margin-top: 20%;
}

.slider-menu {
    position: absolute;
    top: 82%;
    left: 49%;
}